* {
  outline: solid 1px red;
  margin: 0px;
  padding: 0px;
}

.wrapper {
  max-width: 600px;
  margin: 0 auto;
  background-color: green;
}

.main {
  background-color: yellow;
  display: grid;
  margin-top: 4rem;
  padding: 1rem;
  grid-template-columns: 1fr 1fr;
  img {
    width: 100%;
  }
  h2 {
    font-size: 5rem;
  }
}
