:root {
  --text: #02080d;
  --background: #f4f9fd;
  --primary: #2182df;
  --secondary: #c77cec;
  --accent: #e75dd5;
}

* {
  outline: solid 1px red;
  margin: 0px;
  padding: 0px;
}

body {
  background-color: var(--background);
}

form {
  margin-top: 4rem;
}

.wrapper {
  max-width: 600px;
  margin: 0 auto;
}

.main {
  display: grid;
  margin-top: 4rem;
  padding: 1rem;
  grid-template-columns: 1fr 1fr;
  img {
    width: 100%;
  }
  h2 {
    font-size: 5rem;
  }
}
