@import url("https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --text: #959eac;
  --headertext: #ffffff;
  --background: #121417;
  --primary: #1f252e;
  --secondary: #1c222a;
  --accent: #fc7614;
}

* {
  /* outline: solid 1px red; */
  margin: 0px;
  padding: 0px;
}

body {
  background-color: var(--background);
  color: var(--text);
  font-family: "Overpass";
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Overpass";
}

form {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.5rem;
}

input {
  border: none;
  border-radius: 10px;
  padding: 0.5rem 2rem;
  font-family: "Overpass";
}

button {
  border: none;
  border-radius: 10px;
  text-transform: uppercase;
  font-family: "Overpass";
  font-weight: 300;
  background-color: var(--accent);
  color: var(--headertext);
}

svg {
  fill: var(--text);
  width: 5vw;
}

button:hover {
  background-color: var(--headertext);
  color: var(--accent);
  transition: background-color 200ms, color 200ms;
}

button:not(:hover) {
  transition: background-color 200ms, color 200ms;
}

.wrapper {
  max-width: 500px;
  margin: 0 auto;
}

.main {
  display: grid;
  margin-top: 4rem;
  padding: 2rem;
  grid-template-columns: 1fr 1fr;
  background-image: linear-gradient(var(--primary), var(--secondary));
  border-radius: 10px;
  img {
    width: 100%;
  }
  h2 {
    font-size: 5rem;
    color: var(--headertext);
  }
}

.minor {
  display: grid;
  margin-top: 1rem;
  grid-template-columns: 1fr 1fr;
  gap: 0.5rem;
  div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1rem;
    padding: 2rem;
    background-image: linear-gradient(var(--primary), var(--secondary));
    border-radius: 10px;
  }
}
